.main {
  // margin-left: 1.5rem;
  width: 100%;
  height: inherit;
  background-color: white;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  @media screen and (min-width: 48em) {
    width: 50%;
  }

  &__profile3 {
    margin-top: 0.5rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;

    &-avatar {
      margin-right: 20px;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
    }

    &-name {
      font-weight: bolder;
      margin-right: 0.5rem;
    }
  }
  &-linebreak img {
    vertical-align: middle;
  }
}

.main1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #dedede;
  padding-bottom: 1rem;
}

.main2 {
  // height: 100vh;
  padding-top: 1rem;

  &__box {
    position: relative;
    &-image1 {
      max-width: 100%;
      border-radius: 5px;
      // box-shadow: 2px 2px 29px -4px rgba(0, 0, 0, 0.75);
    }

    &-image2 {
      height: 10rem;
      position: absolute;
      top: 2.5%;
      right: 1.5%;
      border-radius: 5px;
      box-shadow: 2px 2px 34px -10px rgba(5, 5, 5, 1);
    }
    &-buttons {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 3%;
      left: 45%;
      // transform: translateX(-50%);
      // (I didnt use this cause I divided 90 by 2)
      &-buttons img {
        fill: #5058f6;
      }
      &-button-1,
      &-button-2 {
        border-radius: 50%;
        background-color: colors(color-font);
        height: 20px;
        width: 20px;
        margin: 15px 5px;
        padding: 7.5px;
        fill: #4e58ff;
      }

      &-button-3 {
        border-radius: 50%;
        background-color: colors(accent);
        height: 20px;
        width: 20px;
        margin: 15px 5px;
        padding: 7.5px;
      }
    }
    &-4 {
      position: absolute;
      bottom: 3%;
      right: 1%;
      border-radius: 50%;
      background-color: colors(color-font);
      height: 20px;
      width: 20px;
      margin: 15px 5px;
      padding: 7.5px;
    }
  }
}

.linebreak {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 100%;

  &__img {
    // display: block;
    margin: 0 1rem;
    background-color: lighten(colors(btn-text), 5%);
  }

  .line {
    height: 1px;
    background-color: darken(colors(color-font), 15%);
    flex-basis: 100%;
    // border-bottom: 3px solid saddlebrown;
  }

  .line2 {
    height: 1px;
    background-color: darken(colors(color-font), 15%);
    flex-basis: 100%;
    // border: 3px solid black;
  }
}

.chat {
  position: relative;
  max-width: 100%;
  margin-top: 0.5rem;
  padding-left: 1rem;
  // border-bottom: 0.5px solid #dedede;
  // padding-bottom: 18rem;
  position: relative;
  &__avatar {
    margin-top: -30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }
}

.chatbox-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.textdiv-right {
  width: 30%;
  text-align: left;
}
.textdiv {
  width: 30%;
  text-align: right;
}
.chatbox-time,
.chatbox-time-right {
  color: #dedede;
  margin-top: 0rem;
}
.chatbox__text {
  padding: 20px;
  text-align: center;
  background-color: #e9eafa;
  color: #6566a0;
  font-weight: bolder;
  border-radius: 0px 10px 10px 10px;
  text-align: left;
  font-size: 0.8rem;
  border: 1px solid inherit;
}

.chatbox__text-2 {
  padding: 20px;
  text-align: center;
  background-color: #f1f2fe;
  color: #6566a0;
  font-weight: bolder;
  border-radius: 10px 10px 10px 0px;
  text-align: left;
  border: 1px solid inherit;
  margin-right: 0.5rem;
}

.chatbox {
  display: flex;
  align-items: center;
  width: 100%;
}

.chatbox-right {
  justify-content: flex-end;
}

.chatbox-right .chat__avatar {
  order: 2;
}

.message {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid #dedede;

  box-sizing: border-box;

  @media screen and (min-width: 48em) {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin: 0;
  }

  .message-1 {
    display: flex;
    align-items: center;

    img {
      padding-right: 1rem;
    }
    .chat-form {
      padding: 8px;
      flex-basis: 100%;
      font-size: 1em;
      border: none;
      background-color: transparent;

      &:active,
      &:focus {
        outline: 0;
      }
    }
  }
}
