@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");
@import "_colors";
@import "_functions";

@import "_sidebar.scss";
@import "_aside.scss";
@import "_main.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  box-shadow: 4px 0px 16px #cccccc88;
  display: flex;
  align-items: flex start;
  flex-direction: column;

  @media screen and (min-width: 48em) {
    margin: 2rem 4rem;
    flex-direction: row;
  }
}

//MEDIA QUERIES
@media (max-width: 720px) {
  body {
    width: 100%;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    z-index: 20;
  }
  .menu__item {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .lesson-one,
  .lesson-box,
  .b2,
  .profile2,
  .timestamp {
    justify-content: center;
  }
  .btn-group {
    justify-content: center;
    padding-left: 1rem;
  }
  .agenda {
    text-align: center;
  }
  .main2__box-image2 {
    height: 3rem;
  }
  .main2__box-buttons-button-1,
  .main2__box-buttons-button-2,
  .main2__box-buttons-button-3,
  .main2__box-4 {
    height: 0.65rem;
    width: 0.65rem;
  }
  .main2__box-buttons {
    left: 30%;
  }

  .chatbox {
    max-width: 100%;
  }
  .textdiv,
  .textdiv-right {
    width: 50%;
    font-size: 0.65rem;
  }
  .textdiv {
    margin-bottom: 2rem;
  }

  .profile__notification.unread {
    display: none;
  }
  .menu-mobile_icon {
    display: inline-block;
  }

  .menu-mobile_icon img {
    height: 2rem;
    margin-left: 3rem;
  }

  .sidebar__nav {
    transform: translateY(-1000px);
    background-color: #4e58ff;
    display: none;
    padding-left: 0;
  }
  .sidebar {
    padding: 0;
  }

  .agenda__list {
    transform: translateY(-1000px);
    display: none;
    // padding: 1rem;
  }

  .agenda {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .agenda img {
    display: block;
  }
}

.show {
  transform: none;
  transition: all 0.5s ease-out;
  display: block;
}
