@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");

//colors
$colors: (
  main: #4e58ff,
  btn: #5b41e9,
  btn-text: #cfc7f9,
  accent: #f85568,
  color-font: #ffffff
);

@function colors($colorName) {
  @return map-get($map: $colors, $key: $colorName);
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  margin: 2rem 4rem;
  box-shadow: 4px 0px 16px #cccccc88;
  background-color: #ffffff;
  display: flex;
  align-items: flex start;

  .sidebar {
    max-width: 30%;
    padding: 1rem;
    color: colors(color-font);
    width: 250px;
    height: inherit;
    background-color: colors(main);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.5px solid #ffffff55;
      padding-bottom: 1rem;
    }
  }

  .menu {
    padding-top: 2.5rem;

    &__item {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      margin: 0.75rem 0;
      border-radius: 4px;

      &:hover {
        background-color: lighten(colors(main), 5%);
        cursor: pointer;
      }

      &-name {
        margin: 0;
      }

      &-icon {
        margin-right: 1rem;
        height: 1.25rem;
      }
    }

    &__group {
      margin-top: 2.5rem;

      &-header {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        padding-left: 0.5rem;
        font-size: 0.75rem;
        text-transform: uppercase;
      }

      &-items {
        margin-bottom: 2rem;
      }
    }
  }
}

/* Profile */
.profile {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__avatar {
    margin-right: 20px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  &__name {
    font-weight: bolder;
    margin-right: 0.5rem;
  }

  &__dropdown {
    height: 1rem;
  }

  &__notification {
    &:hover {
      cursor: pointer;
    }
  }
}

/* Notification Dot */
.unread {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: #f85068;
    top: 0;
    right: 0;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }
}

.aside {
  max-width: 30%;
  padding: 1rem;
  .lesson-one {
    display: flex;
    align-items: center;

    &__arrow {
      margin-right: 20px;
      border-radius: 50%;
      height: 1.5rem;
    }

    &__h1 {
      font-weight: bolder;
      margin-right: 0.5rem;
    }
  }
}

.b2 {
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;

  &__eng {
    color: colors(btn);
    font-weight: bolder;
  }

  &__line {
    color: colors(btn);
    font-weight: bolder;
    padding: 0 1rem;
  }

  &__verb {
    font-weight: bolder;
  }
}

.timestamp {
  margin-top: -1.5rem;
  display: flex;
  padding-left: 1rem;
  align-items: center;

  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__clock {
      height: 1rem;
    }

    &__text {
      font-weight: lighter;
      padding-left: 0.5rem;
    }
  }

  .calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;

    &__calendar {
      height: 1rem;
    }

    &__july {
      font-weight: lighter;
      padding-left: 0.5rem;
    }
  }
}

.profile2 {
  margin-top: 0.5rem;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  border-bottom: 0.5px solid black;
  padding-bottom: 1rem;

  &__avatar {
    margin-right: 20px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  &__name {
    font-weight: bolder;
    margin-right: 0.5rem;
  }
}

.btn {
  margin-top: 1.5rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__01,
  &__02,
  &__03 {
    height: 1rem;
    background-color: lighten(colors(btn-text), 5%);
    width: 5rem;
    border-radius: 5px;
    padding: 10px 10px;
    color: colors(btn);
    font-weight: bolder;
    border: none;
    margin-right: 15px;
  }
}

.agenda {
  margin-top: 3.5rem;

  &__list {
    display: flex;

    &__tick {
      margin-right: 2.5rem;
      border-left: 4px solid colors(main);
    }
  }
}

.materials {
  margin-top: 3.5rem;

  &__list {
    display: flex;
    align-items: center;
    background-color: lighten(colors(btn-text), 5%);
    border-radius: 5px;
    padding: 0px 5px;
    margin-bottom: 1rem;

    &-img {
      height: 43px;
      color: #f85068;
      padding-right: 2.5rem;
    }

    &-text h2 {
      margin-bottom: -10px;
    }

    &-images {
      display: flex;
    }

    &-images img {
      height: 80px;
    }
  }
}

.main {
  margin-left: 1.5rem;
  max-width: 60%;
  height: inherit;
  background-color: colors(btn-text);
  padding: 1rem;

  &__profile3 {
    margin-top: 0.5rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;

    &-avatar {
      margin-right: 20px;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
    }

    &-name {
      font-weight: bolder;
      margin-right: 0.5rem;
    }
  }
  &-linebreak img {
    vertical-align: middle;
  }
}

.main1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #ffffff55;
  padding-bottom: 1rem;
}

.main2 {
  // height: 100vh;
  padding-top: 1rem;

  &__box {
    position: relative;
    &-image1 {
      max-width: 100%;
      border-radius: 5px;
      box-shadow: gray;
    }

    &-image2 {
      height: 10rem;
      position: absolute;
      top: 2.5%;
      right: 1.5%;
      border-radius: 5px;
      box-shadow: 4px 0px 16px #cccccc88;
    }
    &-buttons {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 3%;
      left: 45%;
      // transform: translateX(-50%);
      // (I didnt use this cause I divided 90 by 2)

      &-button-1,
      &-button-2 {
        border-radius: 50%;
        background-color: colors(color-font);
        height: 20px;
        width: 20px;
        margin: 15px 5px;
        padding: 7.5px;
      }
      &-button-3 {
        border-radius: 50%;
        background-color: colors(accent);
        height: 20px;
        width: 20px;
        margin: 15px 5px;
        padding: 7.5px;
      }
    }
    &-4 {
      position: absolute;
      bottom: 3%;
      right: 1%;
      border-radius: 50%;
      background-color: colors(color-font);
      height: 20px;
      width: 20px;
      margin: 15px 5px;
      padding: 7.5px;
    }
  }
}

.linebreak {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 100%;

  &__img {
    // display: block;
    margin: 0 1rem;
    background-color: lighten(colors(btn-text), 5%);
  }

  .line {
    height: 1px;
    background-color: darken(colors(color-font), 15%);
    flex-basis: 100%;
    // border-bottom: 3px solid saddlebrown;
  }

  .line2 {
    height: 1px;
    background-color: darken(colors(color-font), 15%);
    flex-basis: 100%;
    // border: 3px solid black;
  }
}

.chat {
  position: relative;
  max-width: 100%;
  margin-top: 0.5rem;
  padding-left: 1rem;
  border-bottom: 0.5px solid black;
  padding-bottom: 15rem;

  &__avatar {
    margin-top: -30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }
}

.chatbox-row {
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: end;
}
.chatbox__text {
  padding: 20px;
  width: 25%;
  text-align: center;
  background-color: gray;
  color: colors(btn);
  border-radius: 0px 10px 10px 10px;
  border: 1px solid inherit;
  margin: 0.5rem;
}

.chatbox__text-2 {
  padding: 20px;
  width: 25%;
  text-align: center;
  background-color: gray;
  color: colors(btn);
  border-radius: 10px 10px 10px 0px;
  border: 1px solid inherit;
  margin-right: 0.5rem;
}

.chatbox {
  display: flex;
  align-items: center;
  width: 100%;
}

.chatbox-right {
  justify-content: flex-end;
}

.chatbox-right .chat__avatar {
  order: 2;
}

.message {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-1 {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  // justify-content: space-around;
}

.message-1 img {
  margin: 0px 0.5rem;
  padding-right: 1rem;
}

.message-1 p {
  margin-left: 2.5rem;
  border: none;
}

.chat-form {
  padding: 8px;
  width: 900px;
  font-size: 1em;
  border: none;
  background-color: transparent;

  &:active,
  &:focus {
    outline: 0;
  }
}
