<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="assets/css/app.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .box
          .box1 
            .header
              .right
                img(src="assets/img/dp.jpg", alt="")
                p
                  |Cayla Brister
                img(src="assets/img/chevron-down.svg", alt="")
              img(src="assets/img/bell.svg", alt="")

            .ho